/*sitewide classes*/
body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin: 10px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.22);
}

h3 {
  margin: 0 0 15px;
  font-weight: 300;
  padding: 0 5px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 50px 0 0;
  color: #03EBC8;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 15px;
  margin: 0 0 20px;
  line-height: 1.3em;
}

/*left split classes*/
.left {
  display: inline-block;
  background: url('../IMGS/headshot9.jpg') no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  width: 50%;
  height: 100vh;
  text-align: center;
  color: #fff;
}

.main-info {
  position: relative;
  top: 62%;
}

.fade-in-up {
  animation-name: fadeInUp;
  animation-duration: 0.6s;
  animation-delay: -6s; 
}

.contact-me-btn {
  background-color: #cdc8b5;
  border-radius: 40px;
  box-shadow: .5px .5px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 25px;
  padding: 20px 10px 9px 10px;
  width: 160px;
  margin: 10px 0;
  text-decoration: none;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.contact-me-btn:hover {
  padding: 20px 15px 9px 15px;
}

.social-icon {
  width: 20px;
  height: 20px;
  padding-left: 3px;
  display: inline-block;
  opacity: 1;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

.social-icon:hover {
  opacity: .5;
}

footer {
  height: 25px;
  margin-top: 15px;
}


/*right side*/
.right {
  display: inline-block;
  padding: 0 20px 20px;
  color: #444;
}


nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #ebebeb;
  margin-left: -23px;
  width: 50%;
  height: 50px;
  text-align: right;
}

nav ul {
  margin: 17px 50px 0 0;
}

li {
  color: #444;
  display: inline-block;
  padding-left: 20px;
  transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -webkit-transition: color .5s ease-in-out;
}

li:hover {
  color: #03EBC8;
}

ul.skills {
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 5px;
  margin-left: 20px;
  line-height: 1.2em;
}

.skills li span {
  color:#969696;
}

.skills li {
  font-weight: 300;
  font-size: 13px;
  color: #03EBC8;
  padding: 5px 0;
}

#about-me {
  margin-top: 150px;
}

#about-me p {
  margin: 0 0 5px;
}

.work-experience {
  height: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.work-description {
  float: left;
}

.work-year {
  float: right;
}

.button-resume {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #03EBC8;
  margin-top: 50px;
  display: block;
}
.arrow {
  padding-left: 5px;
  height: 15px;
}

/*projects styling*/
#projects {
  width: 100%;

}

.two-col {
  width: 46%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-right: 15px;
}

.two-col img {
  width: 100%;
}

@media (min-width: 770px) {
  .left {
    float: left;
    position: fixed;
    height: 100%;
    width: 50%;
    margin: 0;
  }
  .right {
    float: right;
    height: 100%;
    width: 45%;
  }
}
@media (min-width: 960px) {
}
