/*sitewide classes*/
body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.7em;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: 6px;
  text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.22);
}

h3 {
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 0 0 15px;
  line-height: 1.2;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1px;
  color: #484848;
  margin-bottom: 20px;
}

h5 {
  font-weight: 500;
  letter-spacing: .5px;
  margin: 0 0 3px 0;
}

p {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: .2px;
  margin: 0 0 20px;
  line-height: 1.3em;
}

.button {
  background-color: #cdc8b5;
  border: none;
  border-radius: 40px;
  color: #fff;
  display: block;
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  letter-spacing: 3px;
  margin: 1.8em 0;
  padding: 0.9em 1.8em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  z-index: 1;
}

/*wapasha button clases and animations*/
.wapasha-button {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.wapasha-button:hover {
  background: none;
  cursor: pointer;
}

.wapasha-button:hover::before {
  background: none;
  cursor: pointer;
  position: absolute;
}

.wapasha-button::before {
  content: '';
  opacity: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  z-index: -1;
  border-radius: inherit;
  transform: scale3d(0.6, 0.6, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 10);
  transition: transform 0.3s, opacity 0.3s;
}

.wapasha-button:hover::before {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

/*left split classes*/
.left {
  display: inline-block;
  background: url('../IMGS/headshot9.jpg') no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  width: 50%;
  height: 100vh;
  text-align: center;
  color: #fff;
}

.main-info {
  position: relative;
  top: 65%;
}

/*fade in main-info*/
.fade-in-up {
  animation-name: fadeInUp;
  animation-duration: 0.6s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.fade-in-up-second {
  animation-delay: 0.6s;
}

.fade-in-up-third {
  animation-delay: 0.7s;
}

.fade-in-up-fourth {
  animation-delay: 0.8s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

/*contact me button*/
.contact-me-button {
  margin: 2em auto;
}

/* social icons in footer*/
.social-icon {
  width: 25px;
  height: 25px;
  padding-left: 4px;
  display: inline-block;
  opacity: 1;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

.social-icon:hover {
  opacity: .5;
}

footer {
  height: 25px;
  margin-top: 15px;
}


/*right side*/
.right {
  display: inline-block;
  padding: 0 20px 20px;
  color: #444;
}

/*hamburger nav*/
#nav-icon3 {
  width: 30px;
  height: 25px;
  position: fixed;
  margin-top: 25px;
  right: 25px;
  background: white;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
display: block;
position: absolute;
height: 4px;
width: 100%;
background: #484848;
border-radius: 4px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 8px;
}

#nav-icon3 span:nth-child(4) {
  top: 16px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/*regular nav*/
/*nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #ebebeb;
  margin-left: -23px;
  width: 50%;
  height: 50px;
  text-align: right;
}

nav ul {
  margin: 17px 50px 0 0;
}

li {
  color: #444;
  display: inline-block;
  padding-left: 20px;
  transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -webkit-transition: color .5s ease-in-out;
}

li:hover {
  color: #03EBC8;
}*/

/*sections*/
/*About me section*/
.section-spacing {
  margin-bottom: 50px;
}

#about-me {
  margin-top: 100px;
  width: 100%;
}

#about-me p {
  margin: 0 0 5px;
}

/*skills ul*/
ul.skills {
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 5px;
  margin-left: 20px;
  line-height: 1.2em;
}

.skills li {
  font-weight: 300;
  font-size: 13px;
  color: #cdc8b5;
  padding: 5px 0;
}

.skills li span {
  color: #969696;
}

/*work section*/
.work-experience {
  height: 50px;
  margin-bottom: 12px;
  margin-right: 20px;
}

.work-description {
  float: left;
}

.work-year {
  float: right;
}

/*resume button*/
.button.resume-button {
  margin: 3em 0;
}

.button.resume-button:hover {
  background: none;
  color: #cdc8b5;
}

.button.resume-button::before {
  color: #cdc8b5;
  border: 2px solid #cdc8b5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*projects styling*/
#projects {
  width: 100%;

}

.two-col {
  width: 46%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-right: 15px;
}

.two-col img {
  width: 100%;
}

@media (min-width: 770px) {
  .left {
    float: left;
    position: fixed;
    height: 100%;
    width: 50%;
    margin: 0;
  }
  .right {
    float: right;
    height: 100%;
    width: 45%;
  }
}
@media (min-width: 960px) {
}
